/*#dokuwiki__site { display: none; }*/
.page p { margin: 0 0 1.4em 0; }
.page ul, .page ol { padding: 0 0 0 1.5em !important; }
.page li, .page dd { margin: 0.65em 0px 0px 0.85em !important; display: block; }
.page img { margin: 8px; }
.ddblueblockmenu li { display: block; }
button { padding: 0.4em 0.7em }
button:hover { background-color: __hyperlinkhovercolour__; }
.toolbutton:hover { background-image: unset; }
#media__tree img { background: transparent; border: 0px; }
#dw__toc { background-color: __postback__; padding: 3px; border: 1px solid __bordercolour__;}
#config__manager td.label span.outkey { padding: 3px; background-color: __postback__; }

.notify { 
  border-radius: 0px !important; 
  background-color: __sidebarback__ !important; 
  color: __sidebartextcolour__ !important; 
  border: 0px !important;
}

.page h1 {
	font-size: 22px;
	/*font-weight: bold;*/
	color: __hyperlinkcolour__;
	text-decoration: underline;
	margin: 0.75em 0px 0px;
	margin-bottom: 1.35em;
	/*font-weight: normal;*/
}

.toolbutton img, button img { 
	margin: 0px; 
	background-color: transparent; 
	border: 0px; 
	padding: 0.4em 0.7em;
}
.toolbutton { background-color: white; }
.toolbutton { padding: 0px; }
/*.toolbutton { padding: 0.1em 0.4em; }*/
.padhere { padding: 1em 0px; }
button{ margin-top: 8px; }
.bcsep { display: none; }
/*.bchead { display: none; }*/
.breadcrumbs { display: inline; }
bdi { margin-right: 0.15em;  display: inline-block; }
.date-header { background-color: transparent; }
.date-header:hover { background-color: unset; }
.date-header bdi:hover { background-color: __hyperlinkcolour__; }
.date-header a:link, .date-header a:visited { color: __postfootertextcolour__; width: 100%; }
.date-header a:hover { color: unset; text-decoration: none; }
// body { background-image: url('images/bg-texture-@{ini_imagetheme}.jpg'); } /* or light/dark */ 

.date-header bdi {
	background-color: __postfooterback__;
	color: white;
	padding: .4em;
	letter-spacing: 3px;
	margin: inherit;
}

#writtensidebar h1 { font-size: 14px; }
#writtensidebar h1 { letter-spacing: 0.15em; display: block; border-bottom: 1px solid __headerback__; text-transform: uppercase; }
#writtensidebar h1 {
	text-decoration: none;
	border-bottom: 1px solid black;
	margin-bottom: .85em;
}

#mediamanager__page .file { width: 100%; clear: both; }

/* desbest edit */
  #mediamanager__page .panelHeader,
  .dokuwiki ul.tabs li.active a,
  .dokuwiki ul.tabs li strong,
  .dokuwiki ul.tabs li a:link,
  .dokuwiki ul.tabs li a:visited,
  #mediamanager__page .filelist .thumbs li,
  .panelHeader h3,
  #mediamanager__page .namespaces h2 { 
    background-color: __sidebarback__ !important; 
    color: __pagetextcolour__;
  }

  fieldset, 
  #mediamanager__page 
  /*,#mediamanager__page .filelist*/
  { 
    max-width: 100%; min-width: unset; 
    width: 100%;
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    /*width: 100%; */
    /*clear: both; float: none;*/
  }
  .page li, .page dd { margin: 1em 0px !important; display: block; }
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 50%;  }

  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    max-width: 70%; 
  }

  .header-img { inset: 0px auto auto 0px !important } /* arcade basic specific */
/* ---- end desbest edit ---- */
