
/* ---- responsive ------ */

@media screen and (max-width: 1000px) {
  .contentarea, .padfurther, .pane { width: 100% !important; }
  .padfurther {
  padding: 0px !important;
  margin: 0px !important;
}

}

@media screen and (max-width: 851px) {
  .colourblock {
    width: 30%;
    margin: 0px 0.85em;
  }
}

@media screen and (max-width: 700px) {
  .titlewrapper { padding-left: 1em; } .descriptionwrapper { padding-left: 2em; }

  .colourblock {
    width: 32%;
    margin: 0px;
  }
  .centerwrapper, .descriptionwrapper { width: 100%; }

  .contentrow .statcol { float: none; }
  .maincontentrow .statcol { width: 100% !important; }
  .ddblueblockmenu li a { padding-left: 0px; }

    /* rearrange elements * /
  /* 
  https://webdesign.tutsplus.com/tutorials/a-few-different-css-methods-for-column-ordering--cms-27079
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
  https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit
  */
  .maincontentrow { 
    display: grid !important; 
    grid-template-columns: repeat(1);
  }
  .right { order: 2; float: none !important; }
  .left { order: 3; float: none !important; }
  /* /////_______//// */
}




@media screen and (max-width: 600px) {
	.contentarea, .padfurther, .statcol, .pane { width: 100% !important; }
	.statcol { display: block !important; clear: both;}
	.padfurther { box-sizing: border-box; }
}

@media screen and (max-width: 500px) {
  .headerpane p { margin: 0px; }
  .divider { /*display: none; */ background-color: transparent; }
  .descriptionwrapper { padding: 0.85em 0px 0.85em 2em; height: unset; min-height: 40px; }
  .headerpane { height: unset; min-height: 72px; }
  h2 { font-size: 1em; }
  h3.post-title, .comments h4 { font-size: 1.85em; }
  .contentarea { font-size: 1.15em; margin-top: 0px; }
  .ddblueblockmenu { font-size: 1.15em; }
  .ddblueblockmenu li { margin: 0.85em 0px; }
  
  /* rearrange elements * /
  /* 
  https://webdesign.tutsplus.com/tutorials/a-few-different-css-methods-for-column-ordering--cms-27079
  https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
  https://www.digitalocean.com/community/tutorials/css-css-grid-layout-fr-unit
  */
  .contentarea { 
    display: grid !important; 
    grid-template-rows: none;
    /*grid-template-columns: repeat(1);*/
  }
  .cbr { order: 2; float: none !important; }
  .maincontentrow { order: 1; float: none !important; }
  /* /////_______//// */
  .colourblock:first-child { margin-left: 0px; }

}

#mediamanager__page .file dl dd, #mediamanager__page .file dl dt {
  background-color: transparent;
}

/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  /*.page li, .page dd { margin: 1.35em 0px !important; display: block; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }

  .dokuwiki fieldset { width: unset; }
  #config__manager fieldset { width: 100%; box-sizing: border-box; }

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input { display: flex; } select { width: 100%; flex-shrink: 1; }

  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    max-width: 100%; 
    width: unset;
  }
}