/* Content
----------------------------------------------- */
body {
font-size: 14px;
font-family: __normalfont__;
color: __pagetextcolour__;
/*background-image: url('back2.png');*/
background-image: url('images/bg-texture-@{ini_imagetheme}.jpg'); /* or light */
background-color: __backgroundcolour__;
padding: 0 0 0 0;
margin: 0px;
}

.left, .right{ color: __sidebartextcolour__; }

/* Header
----------------------------------------------- */
.header-outer {
background: transparent none repeat-x scroll 0 -400px;
background-image: none;
}
.header h1 {
font-size: 40px;
font-family: __headerfont__;
color: __headertextcolour__;
/*text-shadow: 2 2 2 rgba(0, 0, 0, .2);*/
}
.header h1 a {
color: __headertextcolour__;
}
.header .description {
font-size: 18px;
}
.header-inner .header .titlewrapper {
padding: 22px 0;
}
.header-inner .header .descriptionwrapper {
padding: 0 0;
}

/* Columns
----------------------------------------------- */
.main-outer {
border-top: 0 solid transparent;
}
.fauxcolumn-left-outer .fauxcolumn-inner {
border-right: 1px solid transparent;
}
.fauxcolumn-right-outer .fauxcolumn-inner {
border-left: 1px solid transparent;
}
/* Headings
----------------------------------------------- */
h2 {
font-family: __headerfont__;
margin: 0 0 1em 0;
font-weight: bold;
color: #000000;
}

/* Posts
----------------------------------------------- */
.date-header {
display: inline;
background-color: __postfooterback__;
color: __postfootertextcolour__;
padding: 0.4em;
letter-spacing: 3px;
margin: inherit;
font-size: 11px;
text-transform: uppercase;
font-weight: bold;
}
.date-header:hover {
background-color: __hyperlinkcolour__;
}
.date-header a:link, .date-header a:visited { 
color: __postfootertextcolour__; 
width: 100%; height: 100%;
text-decoration: none;
}
.main-inner {
padding-top: 35px;
padding-bottom: 65px;
}
.main-inner .column-center-inner {
padding: 0 0;
}
.main-inner .column-center-inner .section {
margin: 0 1em;
}
.post {
margin: 4200px 0 450px 0;
}
h3.post-title, .comments h4 {
font-size: 22px;
font-weight: normal;
margin: .75em 0 0;
text-decoration: underline;
margin-bottom: 1.35em;
}
.post-body {
font-size: 110%;
line-height: 1.4;
position: relative;
background-color: __postback__;
}
.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
padding: 2px;
background: __imageback__;
border: 1px solid __bordercolour__;
-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
.post-body img, .post-body .tr-caption-container {
padding: 5px;
}
.post-body .tr-caption-container {
color: #666666;
}
.post-body .tr-caption-container img {
padding: 0;
background: transparent;
border: none;
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}
.post-header {
margin: 0 0 1.5em;
line-height: 1.6;
font-size: 90%;
}
.post-footer {
margin: 20px -2px 0;
padding: 5px 10px;
color: __postfootertextcolour__;
background-color: __postfooterback__;
border-bottom: 3px solid __bordercolour__2;
/*border-bottom: 3px solid #eeeeee;*/
line-height: 1.6;
font-size: 90%;
}
#comments .comment-author {
padding-top: 1.5em;
border-top: 1px solid transparent;
background-position: 0 1.5em;
}
#comments .comment-author:first-child {
padding-top: 0;
border-top: none;
}
.avatar-image-container {
margin: .2em 0 0;
}
#comments .avatar-image-container img {
border: 1px solid __bordercolour__;
}

/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
border-left: 1px solid transparent;
}
.blog-pager {
background: transparent url() repeat-x scroll top center;
background-color: __blogpagerback__;
padding: 1em;
}
.footerbutton{
/*background-color: #a11919;*/
background-color: __menuhovercolour__;
padding: 5px;
margin: 0.15em;
}
.footerbutton:hover { background-color: __hyperlinkhovercolour__; }

.container { width: 693px; margin-left: auto; margin-right: auto; }

.pane {
    /*width: 200px;*/
    width: 100%;
    /* min-height: 275px;*/
    display: inline-block;
    margin:     0px; padding: 0px;
    /* background-image: url('purpleback.png');  */
    font-size: 1em;
}

.main { font-size: 1.15em;  }

.header { letter-spacing: 0.15em; display: block; border-bottom: 1px solid __headerback__; text-transform: uppercase; }
.purple { background-image: url(''); }
.red { background-image: url(''); }
.green { background-image: url(''); }

.contentarea{
    width: 1000px; min-height: 300px;
    margin-left: auto; margin-right: auto;
    background-color: __sidebarback__;
    /*margin-top: 30px;*/
}

.descriptionwrapper {
  background: __headerback__;
  width: 693px; margin-left: auto; margin-right: auto;
  vertical-align: middle;
  padding: 0px; 
  padding-top: 0px; height: 30px;
  padding-left: 24px; box-sizing: border-box;
  letter-spacing: 3.6px !important;
  /*color: white;*/
}
.descriptionwrapper p { 
  margin: 0px; display: inline; 
  position: relative; top: -8px;
}


.statcol { padding: 8px !important; box-sizing: border-box; }

div.statcol{ float: left; padding: 0px; vertical-align: middle; overflow: hidden; text-align: left; margin-bottom: 0px; }
/* div.statrow{ padding-top: 0px; vertical-align: middle; clear: both; float: none; } */
div.statrow { width: 100%; margin: 0 auto; overflow: hidden; }

.headerpane{
    width: 100%; min-height: 72px;
    background-color: __menuhovercolour__;
    color: __descriptiontextcolour__; font-size: 24px;
} 
.headerpane div.padfurther { 
  /*padding: 18px; padding-bottom: 0px;*/ 
  width: 693px; margin-left: auto; margin-right: auto; 
}
.headerpane h1 { margin-bottom: 0px; }

.divider{
    width: 100%; height: 24px;
    background-color: __headerback__;
}


.header, .menutitle2 { letter-spacing: 0.15em; display: block; border-bottom: 1px solid __headerback__; text-transform: uppercase; }

h1 { padding: 0px; margin: 0px; font-weight: normal; margin-bottom: 8px; }

a.footerbutton:link, a.footerbutton:visited, a.footerbutton:active { color: __pagetextcolour__; }
a:link, a:visited, a:active { color: __hyperlinkcolour__; text-decoration: none; }
a:hover { color: __hyperlinkhovercolour__; text-decoration: underline; }

.colourblock {
  color: __colourblocktextcolour__;
  width: 31%;
  height: 100%;
  padding: 1em !important;
  /*background-color: yellow;*/
  margin-right: 1em;
  box-sizing: border-box;
} .colourblock:first-child { margin-left: 1em; }

.centerwrapper { margin: auto; height: 200px; width: 90%; }

/*  ----
gradient blocks */

.gradient1 {
  background: __gradient1startcolour__;
  background: linear-gradient(45deg, __gradient1startcolour__ 0%, __gradient1endcolour__ 100%);
}

.gradient2 {
  background: __gradient2startcolour__;
background: linear-gradient(45deg, __gradient2startcolour__ 0%, __gradient2endcolour__ 100%);
}

.gradient3 {
  background: __gradient3startcolour__;
background: linear-gradient(45deg, __gradient3startcolour__ 0%, __gradient3endcolour__ 100%);
}

.pane .header, .ddblueblockmenu .menutitle2, .colourblock .header 
  { text-decoration: none; border-bottom: 1px solid __colourblocktextcolour__; margin-bottom: 0.85em; 
    /*margin-top: 1.35em;*/
  }

/* ----- forms ----- */
select {
 font-family: ~"__formfieldfonts__"; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: __formfieldback__;
 border: 1px solid __formfieldborder__;
 color: __formfieldtextcolour__;
}

input, input[type='text'], input[type='password'], textarea {
 font-family: ~"__formfieldfonts__"; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: __formfieldback__;
 border: 1px solid __formfieldborder__;
 color: __formfieldtextcolour__;
}

button, button[type='submit']{
 font-family: ~"__formfieldfonts__"; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: __formfieldback__;
 border: 3px ridge __formfieldborder__;
 color: __formfieldtextcolour__;
}


/* menus */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
.ddblueblockmenu{
border: 0px solid __headerback__;
border-bottom-width: 0;
width: 100%;
/*font-size: 0.8em;*/
}

.ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
margin-bottom: 1.15em;
}

.ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
/*width: 169px; 185px minus all left/right paddings and margins*/
text-decoration: none;
color: __menucolour__;
/*background-color: #595959;*/
border-bottom: 0px solid __unusedborder__;
border-left: 0px solid __activemenuoptionback__;
}

* html .ddblueblockmenu li a{ /*IE only */
width: 187px; /*IE 5*/
width: 169px; /*185px minus all left/right paddings and margins*/
}

.ddblueblockmenu li a:hover {
background-color: __menuhovercolour__;
border-left-color: __activemenuoptionback__;
text-decoration: none;
}

.ddblueblockmenu li .active {
background-color: __activemenuoptionback__;
border-left-color: __activemenuoptionback__;
cursor: default;
}

.ddblueblockmenu div.menutitle{
color: __menucolour__  ;
border-bottom: 3px solid __unusedborder__;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
font: bold 90%;
}